@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, Scarstack Solution Inc!</h1>

<h2> This is an Azure Cloud Engineer Training </h2>

<h3> How are you Olamide? </h3>

Welcome to the future.
